apiVersion: v1
kind: Service
metadata:
  name: cloud-{{SVC_NAME}}
  namespace: {{NAMESPACE}}
  labels:
    app: cloud-{{SVC_NAME}}
spec:
  type: ClusterIP
  selector:
    app: cloud-{{SVC_NAME}}
  ports:
    - name: rpc
      port: {{PORT}}
      targetPort: {{PORT}}
      protocol: TCP
