apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{RESOURCE_NAME}}
  namespace: {{NAMESPACE}}
  labels:
    app: {{RESOURCE_NAME}}
spec:
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: {{RESOURCE_NAME}}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: {{RESOURCE_NAME}}
    spec:
      imagePullSecrets:
        - name: aws-ecr
      containers:
        - name: {{RESOURCE_NAME}}
          image: {{ECR_REGISTRY}}/{{ECR_REPO}}:init
          imagePullPolicy: IfNotPresent
{{ARGS_LINE}}          ports:
            - containerPort: {{CONTAINER_PORT}}
              name: http
              protocol: TCP
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: "1"
              memory: 1Gi
          volumeMounts:
            - name: config
              mountPath: {{CONFIG_MOUNT}}
              readOnly: true
{{PROBES}}      volumes:
        - name: config
          configMap:
            name: {{RESOURCE_NAME}}-configmap
            defaultMode: 420
      terminationGracePeriodSeconds: 30
